@use "./scss/globals";
@use "./scss/header.scss";
@use "./scss/mainGrid.scss";
@use "./scss/resets";
@use "./scss/buttons";
@use "./scss/listView.scss";
@use "./scss/pokemonByName.scss";

body {
  // background: red;
  font-family: var(--font-poppins);
  margin: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.debug {
  border: 3px solid brown;
}
