.favsContainer {
  margin-block-start: 50px;
}

.favsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding-block: 1rem;
}

.pokeCardFav {
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 3px 2px 4px 6px rgba(227, 227, 227, 0.63);
  -webkit-box-shadow: 3px 2px 4px 6px rgba(227, 227, 227, 0.63);
  -moz-box-shadow: 3px 2px 4px 6px rgba(227, 227, 227, 0.63);
  .pokeImage {
    overflow: hidden;
  }
  img {
    transition: all 0.3s;
    width: 100%;
    height: 250px;
  }
  &:hover img {
    transform: scale(1.5);
  }
}

.infoBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
}
