.headerContainer {
  border-bottom: 1px solid #eee;
  padding-block: 1rem;

  background-color: var(--bg-white);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .logoContainer {
    width: 300px;
  }
  .headerGrid {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    display: none;
    @media screen and (min-width: 600px) {
      display: block;
    }
  }
  .menu ul {
    display: flex;
    list-style: none;
    column-gap: 2rem;
    align-items: center;
    height: 100%;
    li .text-dark {
      color: white;
    }
  }
}
